<div class='navbar d-flex justify-content-between'>
  <div class='nav-left'>
    <%= link_to 'Home', root_path  %>
  </div>
  <div class='nav-right'>
    <%= link_to 'Sign in', new_user_session_path %>
  </div>
</div>
